@font-face {
  font-family: 'iconfont';  /* project id 490574 */
  src: url('//at.alicdn.com/t/font_490574_6y3ulc5j4r2ro1or.eot');
  src: url('//at.alicdn.com/t/font_490574_6y3ulc5j4r2ro1or.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_490574_6y3ulc5j4r2ro1or.woff') format('woff'),
  url('//at.alicdn.com/t/font_490574_6y3ulc5j4r2ro1or.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_490574_6y3ulc5j4r2ro1or.svg#iconfont') format('svg');
}

/* 没用 */
.anticon-menuTrigger:before{
  font-family:iconfont !important;
  content:"\e67b";
}

.anticon-equipment:before{
  font-family:iconfont !important;
  content:"\e61a"
}

.anticon-trip:before{
  font-family:iconfont !important;
  content:"\e616"
}

.anticon-course:before{
  font-family:iconfont !important;
  content:"\e613"
}

.anticon-practice:before{
  font-family:iconfont !important;
  content:"\e635"
}

.anticon-detail:before{
  font-family:iconfont !important;
  content:"\e649"
}

.anticon-appointment:before{
  font-family:iconfont !important;
  content:"\e6e2"
}

.anticon-captcha:before{
  font-family:iconfont !important;
  content:"\e609"
}

.anticon-line:before{
  font-family:iconfont !important;
  content:"\e773"
}

.anticon-securityAnswer:before{
  font-family:iconfont !important;
  content:"\e701"
}

.anticon-reply:before{
  font-family:iconfont !important;
  content:"\e60a"
}

.anticon-replyToOther:before{
  font-family:iconfont !important;
  content:"\e662"
}

.ant-layout-content,.ant-layout{
  display: flex;
  height: 100%;
}

.ant-layout-content{
  flex: 1 1;
  background-color: white;
}

.app-layout-header{
  position: relative;
  height: auto;
  background-color: white;
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 10;
}
